<% let pageId='blog' ; %>

  <%- include('../common/_head', {pageId: pageId}) %>

    <%- include('../common/_header', {pageId: pageId}) %>

      <% console.log(jsonData) %>

        <div class="l-blog">
          <main>
            <div class="l-container">
              ブログページです
              <div class="test">テスト</div>
            </div><!-- /.l-container -->
          </main>
        </div><!-- /.l-blog -->

        <%- include('../common/_footer', {pageId: pageId}) %>