<% let pageId='home' ; %>

  <%- include('./common/_head', {pageId: pageId}) %>

    <%- include('./common/_header', {pageId: pageId}) %>

      <% console.log(jsonData) %>

        <div class="l-home">
          <main>
            <div class="l-container">
              トップページです
              <div class="test">テスト</div>
            </div><!-- /.l-container -->
          </main>
        </div><!-- /.l-home -->

        <%- include('./common/_footer', {pageId: pageId}) %>