<% let pageId='home' ; %>
  <% let path='./' ; %>

    <%- include(path + 'common/_head' , {pageId: pageId}) %>

      <%- include(path + 'common/_header' , {pageId: pageId}) %>

        <% console.log(jsonData) %>

          <div class="l-home">
            <main>
              <div class="l-container">
                トップページです
                <div class="test">テスト</div>
              </div><!-- /.l-container -->
            </main>
          </div><!-- /.l-home -->

          <%- include(path + 'common/_footer' , {pageId: pageId}) %>