<footer class="l-footer p-footer">
  <div class="l-container p-footer__container">
    <nav>
      <ul>
        <% for (let page in jsonData.pages) { %>
          <li><a href="<%= jsonData.pages[page].slug %>"><%= jsonData.pages[page].name %></a></li>
          <% } %>
      </ul>
    </nav>
    <p>&copy;&nbsp;<%= jsonData.siteInfo.name %></p>
  </div><!-- /.l-container p-footer__container -->
</footer><!-- /.l-footer p-footer -->

<!-- JavaScript -->
<script src="/js/script.js"></script>
</body>

</html>