<footer class="l-footer p-footer">
  <div class="l-container p-footer__container">
    <nav class="p-footer__nav p-footer-nav">
      <ul class="p-footer-nav__items">
        <% for (let page in jsonData.pages) { %>
          <li><a href="<%= jsonData.pages[page].slug %>"><%= jsonData.pages[page].title %></a></li>
          <% } %>
      </ul><!-- /.p-footer-nav__items -->
    </nav><!-- /.p-footer__nav p-footer-nav -->
    <p>&copy;&nbsp;2020&nbsp;-
      <script type="text/javascript" language="JavaScript">
        current = new Date();
        document.write(current.getFullYear())
      </script>
      <%= jsonData.siteInfo.siteName %>
    </p>
  </div><!-- /.l-container p-footer__container -->
</footer><!-- /.l-footer p-footer -->

<button class="l-to-top c-to-top js-to-top"></button>

<!-- JavaScript -->
<script src="/js/lib/smoothscroll.js"></script>
<script src="/js/script.js"></script>
</body>

</html>