<% let pageId='blog' ; %>

  <%- include('../common/_header', {pageId: pageId}) %>

    <% console.log(jsonData) %>

      <main class="l-blog">
        <div class="l-container">
          ブログページです
          <div class="test">テスト</div>
        </div><!-- /.l-container -->
      </main><!-- /.l-blog -->

      <%- include('../common/_footer', {pageId: pageId}) %>